extends layout

block content

    a(href="/admin")
        button(type="button" class="button") Back to Admin
    h2= title 

    form(action="" method="POST")
        .form_input 
            label(for="hotel_name") Hotel Name
            input(type="text" name="hotel_Name" required )
        .form_input
            label(for="hotel_description") Hotel Description
            textarea(name="hotel_description", cols="30", rows="10" required )
        .form_input
            label(for="image") Hotel Image
            input(type="file" name="image" id= "image")            
        .form_input 
            label(for="star_rating") Star Rating :
            input(type="number" name="Star_rating" min="1" max= "5" required )
        .form_input 
            label(for="country") Country:
            input(type="text" name="country" id="country" required )
        .form_input 
            label(for="cost_perNight") Cost Per Night:
            input(type="number" name="cost_per_night" id="cost_per_night" required )
        .form_input 
            label(for="available") Available:
            input(type="radio" id="available" name = "available" value="true" checked)
            label(for="available") Unavailable:
            input(type="radio" id="unavailable" name = "unavailable" value="false" checked)
        .form_input
            button(type="submit" class="button_small") CONFIRM
